@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

body {
  background-color: #D5DFE2;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
}

button:hover {
  background-color: #64dbd0;
}

button:disabled {
  background-color: #a8a8a8;
  cursor: not-allowed;
}

.main-section {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.folder-section {
  width: 50%;
}

.url-section {
  width: 50%;
}

h1 {
  color: #011627;
  font-size: 70px;
  text-align: center;
  padding: 20px;
  background-color: #2ec4b6;
}

h2 {
  font-size: 32px;
  margin: 10px;
}

.folder-submit {
  margin: 5px;
}

.folder-input {
  margin: 5px;
}

.folder-container {
  display: flex;
  flex-direction: column;
}

.folder-button {
  margin: 5px auto;
  width: 25%;
  background-color: #2ec4b6;

}

.folder-button:hover {
  background-color: #64dbd0;
}

.url-container {
  width: 90%;
  /*margin: 20px auto;*/
  /*text-align: left;*/
  align-self: center;
}

/*.tbody {
  width: 90%;
  margin: 20px auto;
}*/

.url-wrapper {
  padding: 5px;
  /*width: 90%;
  margin: 20px;
  padding: 5px 20px;
  text-align: left;*/
}

td {
  text-align: center;
  padding-left: 5px;
}


/*#011627
#D5DFE2
#ff8811
#2ec4b6
#e71d36*/
